.container{
  background-color: rgb(221, 67, 67);
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);

  h1{
    text-align: center;
    padding: 1em 0 0 0;
    font-size: 3em;
  }
}

.buttons{
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  position: relative;
  left: 10%;
  top: 200px;
}
.btn{
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
}
svg{
  height: 45px;
  left: 0;
  position: absolute;
  top: 0; 
  width: 100%; 
}
rect{
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
    transition-delay: none;
}
.btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;

  rect{
    stroke-width: 5;
    stroke-dasharray: 35, 279;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}